/*COLORS*/
$Primary: #0050B6
$Secondary: #f6fcff

/*FONTS*/
@font-face 
    font-family: 'Oxygen Light' 
    src: url(fonts/Oxygen-Light.ttf)

@font-face 
    font-family: 'Oxygen Regular' 
    src: url(fonts/Oxygen-Regular.ttf)

@font-face 
    font-family: 'Kiona-Regular'
    src: url(fonts/Kiona-Regular.ttf)


/*RESET*/
*
    margin: 0px
    padding: 0px

body
    width: 100vw
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background: linear-gradient(180deg, #0050B6 0%, #DAF3FF 100%)

    /*---CONTENEDOR PRINCIPAL---*/
    .container
        width: 100%
        max-width: 1440px
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background: linear-gradient(180deg, #0050B6 0%, #DAF3FF 100%)

        /*---CABECERA--*/
        .header
            width: 100%
            height: 30%
            display: flex
            flex-direction: column
            flex-wrap: nowrap
            justify-content: flex-start
            align-items: center
            margin-bottom: 5%

            .logo
                width: 100%
                height: 15%

                img
                    width: 20%
                    height: auto
                    object-fit: contain

            .heroimg
                width: 100%
                
                img
                    width: 50%
                    margin-left: 25%
                    height: auto


                .slogan
                    width: 100%
                    height: 15%
                    display: flex
                    flex-direction: column
                    justify-content: cemter
                    align-items: center
 
                    h1
                        font-family: 'Kiona-Regular', 'Open Sans'
                        color: $Secondary
                        font-size: 2.5rem
                        margin-top: 1%
                        width: 50%
                        text-align: center


                    img
                        width: 5%
                        height: 5%
                        margin-top: 0.5%
                        margin-right: 25%
   
                        
        
        /*---CARACTERÍSTICAS BOTA---*/
        .galery
            width: 100%
            min-height: 40rem
            max-height: 40%

            display: flex
            flex-direction: row
            justify-content: center
            align-items: center


            /*---EXPOSITOR---*/
            .pics
                min-width: 45%
                max-width: 45%
                min-height: 100%
                margin: 2%

                display: flex
                justify-content: center
                align-items: center


                .img
                    max-width: 80%
                    max-height: 400px
                    

            /*---DESCRIPCIONES---*/
            .description
                min-width: 45%
                max-width: 45%
                min-height: 100%
                max-height: 100%
                margin: 1%

                display: flex
                flex-direction: column
                justify-content: center
                align-items: center


                .caracteristic
                    min-width: 100%
                    min-height: 40%
                    max-height: 40%
                    margin-bottom: 5%


                    .titles
                        min-width: 100%
                        min-height: 50%
                        max-height: 50%

                        font-size: 1.5rem
                        

                        h2
                            width: 50%
                            margin: 0px auto
                            padding: 2%

                            font-family: 'Kiona-Regular','Open Sans'
                            color: $Secondary
                            text-align: center
                            border-bottom: 1px solid $Secondary

                    .description-box
                        width: 100%
                        min-height: 50%
                        max-height: 50%

                        font-size: 1rem
                        letter-spacing: 0.1rem
                        line-height: 1.3rem
                        text-align: center
                        

                        .descriptions
                            min-width: 90%
                            max-width: 90%
                            min-height: 100%
                            max-height: 100%
                            margin: 0px auto
                            padding: 2%

                            font-family: 'Oxygen Regular', 'Open Sans'
                            color: $Secondary   

                /*---FOTOS BOTA---*/          
                .parts
                    max-width: 100%
                    max-height: 60%
                    min-height: 60%

                    display: flex
                    flex-direction: row
                    justify-content: space-evenly
                    align-items: center
                    flex-wrap: wrap

                    .pic
                        width: 50%
                        height: 20%
                        max-height: 100px
                        max-width: 200px
                        margin: 2%
                        overflow: hidden
                        filter: brightness(0.8)
                        transition: all 0.5s ease-in-out
                        border: 1px solid $Secondary


                        img
                            width: 100%
                            margin: 0px auto
                            object-fit: cover

                    .pic:hover
                        filter: brightness(1.2)
                        cursor: pointer

                    #pic2 img
                        width: 150%

        /*GRUPO IMAGENES*/
        .live-pics
            max-width: 100%
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            margin-bottom: 5%
            border: 1px solid $Secondary

            img
                max-width: 33.33%
        


        /*---JUGADORES---*/
        .players
            max-width: 100%
            min-width: 100%
            min-height: 33%
            max-height: 33%

            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin-bottom: 10%

            /*---REPRODUCTOR OCULTO---*/
            .player_video
                display: none
                width: 100%
                height: 100%
                min-height: 745px
                

                flex-direction: column
                justify-content: center
                align-items: center

                background: rgba(0, 79, 182, 0.124)

                .cerrar
                    width: 6.5%
                    height: 5%
                    margin-left: 20%
                    margin-top: 1%

                    font-family: 'Kiona-Regular', 'Open Sans'
                    font-size: 1.5rem
                    color: $Secondary
                    filter: brightness(0.9)
                    transition: all 0.5s ease
                
                .cerrar:hover
                    cursor: pointer
                    filter: brightness(1.2)

                .video
                    width: 35%
                    margin: 1%
                    border: 1px solid $Secondary

            .players_title
                max-width: 100%
                min-width: 100%
                max-height: 35%
                min-height: 35%
                margin-bottom: 2%

                text-align: center


                h2
                    max-width: 50%
                    min-width: 50%
                    margin: 0px auto
                    padding: 1%

                    font-family: 'Kiona Regular', 'Open Sans'
                    color: $Secondary
                    font-size: 2.4rem
                    border-bottom: 1px solid $Secondary
                
                p
                    padding: 1%

                    font-family: 'Oxygen Regular', 'Open Sans'
                    color: $Secondary
                    font-size: 1.2rem

            .cards
                max-width: 100%
                min-width: 100% 
                max-height: 70%
                min-height: 70%

                display: flex
                flex-direction: row
                justify-content: center
                align-items: center


                .card
                    position: relative
                    min-width: 33%
                    max-width: 33%
                    min-height: 60%
                    max-height: 600px
                    border: 1px solid $Secondary

                    transition: all 0.5s ease
                
                    overflow: hidden

                    img
                        max-width: 100%
                        backdrop-filter: blur(3px)
                        filter: brightness(0.8)

                    h2
                        position: absolute
                        z-index: 1
                        width: 80%
                        top: 80%
                        left: 10%
                        border-bottom: 1px solid $Secondary

                        font-family: 'Kiona Regular'
                        font-size: 2.2rem
                        color: $Secondary
                        text-align: center


                #card1
                    background: url(/images/CR7_portada.webp)
                    background-repeat: no-repeat
                    background-size: cover
                
                #card2
                    background: url(/images/Mbappe_portada.webp)
                    background-repeat: no-repeat
                    background-size: cover
                
                #card3
                    background: url(/images/Neymar_portada.webp)
                    background-repeat: no-repeat
                    background-size: cover

                    h2
                        width: 50%
                        left: 25%
                
                #card1:hover
                    background: url(/images/CR7GIF.gif)
                    cursor: pointer

                #card2:hover
                    background: url(/images/MbappeGIF.gif)
                    cursor: pointer
                
                #card3:hover
                    background: url(/images/NeymarGIF.gif)
                    cursor: pointer

                .card:hover img
                    filter: brightness(1)

        /*---SOCIAL MEDIA---*/
        .social
            width: 100%
            height: 33%

            margin-bottom: 10% 

            display: flex
            flex-direction: row
            justify-content: center
            align-items: center

            .youtube
                width: 50%
                min-height: 400px
                max-height: 400px

                .youtube_vid
                    width: 100%
                    height: 400px
                    margin-left: 1%
                    border: 1.5px solid $Secondary
            
            .social_title
                width: 40%
                min-height: 100%

                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: center

                h2
                    width: 55%
                    height: 30%
                    margin-bottom: 2%
                    padding-bottom: 2%

                    font-family: 'Kiona Regular', 'Open Sans'
                    font-size: 2.3rem
                    color: $Secondary
                    text-align: center

                    border-bottom: 1px solid $Secondary
                
                p
                    font-family: 'Oxygen Regular', 'Open Sans'
                    color: $Secondary 
                    font-size: 1.2rem
                    margin-bottom: 3% 
                    text-align: center 

                .buttons
                    width: 100%
                    height: 40%

                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: center

                    .button
                        width: 15%
                        min-height: 6rem
                        background: none

                        text-align: center

                        transition: all 0.5s ease

                        img
                            width: 50%
                            filter: brightness(0.8)

                    #YT:hover img
                        cursor: pointer
                        filter: brightness(2)

                    #TW
                        width: 13%
                    
                    #TW:hover
                        filter: brightness(1.5)

                    #IG
                        width: 11%

                    #IG:hover
                        filter: brightness(1.5)

        /*---BUY NOW---*/
        .buynow
            width: 80%
            height: 33%
            min-height: 14rem

            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            

            border: 1px solid $Primary

            .buy-button
                width: 45%
                height: 100%
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center


                .buy
                    width: 50%
                    height: 3.1rem
                    background: $Primary
                    margin-left: 3%

                    font-family: 'Kiona Regular', 'Open Sans'
                    font-size: 1.1rem
                    font-weight: 500
                    border-radius: 0.2rem
                    color: $Secondary
                    filter: brightness(1)
                    transition: all 0.5s ease

                    border: 1px solid $Primary
                
                .buy:hover
                    cursor: pointer
                    background: $Secondary
                    color: $Primary
                
                .models
                    text-decoration: none
                    font-family: 'Oxygen Regular', 'Open Sans'
                    font-size: 1.2rem
                    color: $Primary
                    text-decoration: underline
                    transition: all 0.5s ease

                .models:hover
                    color: $Secondary

            .buy_img
                width: 43%
                height: 100%

                img
                    width: 100%

        /*JUST DO IT*/
        .just-do-it
            max-width: 90%
            object-fit: contain

            img
                width: 100%

/*MEDIA-QUERYS*/

@media ( max-width: 1024px )

    /*TARJETAS JUGADORES*/
    body .container .players .cards .card h2
        top: 70%

    body .container .players .cards #card3 h2
        top: 80%

    body .container .players .player_video
        min-height: 0px
    
    /*APARTADO SOCIAL*/
    body .container .social .social_title
        margin-left: 5%
    
    body .container .social .social_title p
        margin-bottom: 6%

    body .container .social .social_title .buttons .button
        width: 25%
    
    body .container .social .social_title .buttons #TW
        width: 22%
    
    body .container .social .social_title .buttons #IG
        width: 20%

    /*APARTADO COMPRA*/
    body .container .buynow .buy-button
        width: 40%
    
    body .container .buynow .buy_img
        width: 55%

@media (max-width: 768px)
    
    /*PARTES BOTA*/
    body .container .galery
        flex-wrap: wrap

    body .container .galery .pics
        max-width: none
    
    body .container .galery .description
        max-width: none
    
    /*APARTADO SOCIAL*/
    body .container .social
        flex-direction: column
    
    body .container .social .youtube
        width: 80%
    
    body .container .social .social_title
        margin-top: 2%
        width: 80%
    
    /*APARTADO COMPRA*/
    body .container .buynow
        flex-direction: column-reverse
    
    body .container .buynow .buy-button
        margin-top: 1%
        margin-bottom: 1%
        width: 70%
    
    body .container .buynow .buy-button .buy
        width: 45%
    
    body .container .buynow .buy_img
        width: 70%

@media (max-width: 685px)

    /*CABECERA*/
    body .container .header .logo img
        width: 35%
    
    body .container .header .heroimg img
        margin-left: 0%
        width: 100%
    
    body .container .header .heroimg .slogan h1
        margin-top: 0%
        width: 100%
    
    body .container .header .heroimg .slogan img
        margin-right: 0%
    
    /*APARTADO JUGADORES*/
    body .container .players .cards #card3 h2
        top: 83%

@media (max-width: 631px)

    /*APARTADO JUGADORES*/
    body .container .players .players_title h2
        width: 90%
        font-size: 2rem

    body .container .players .cards .card h2
        top: 68%
        font-size: 1.5rem
    
    body .container .players .cards #card3 h2
        width: unset
        left: 20%
        top: 81.5%

@media ( max-width: 552px )

    /*APARTADO JUGADORES*/
    body .container .players .players_title h2
        font-size: 1.8rem
    
    /*APARTADO SOCIAL*/
    body .container .social .social_title h2
        font-size: 1.8rem
    
    body .container .social .social_title
        width: 90%
    
    body .container .social .social_title .buttons .button
        width: 25%
    
    body .container .social .social_title .buttons #TW
        width: 24%
    
    body .container .social .social_title .buttons #IG
        width: 21%

@media ( max-width: 426px )

    /*GENERAL*/
    body .container
        width: 90%
    
    /*CABECERA*/
    body .container .header
        margin-top: 10%
        margin-bottom: 10%

    body .container .header .logo img
        width: 40%
    
    body .container .header .heroimg .slogan h1
        font-size: 1.6rem
    
    body .container .header .heroimg .slogan img
        width: 9%
    
    /*APARTADO BOTA*/
    body .container .galery
        margin-bottom: 10%

    body .container .galery .description .caracteristic .description-box
        font-size: 0.8rem
    
    body .container .galery .description .parts .pic
        width: 40%
    
    /*SEPARADOR FOTOS*/
    body .container .live-pics
        margin-top: 5%
        margin-left: 2.5%
    
    /*APARTADO JUGADORES*/
    body .container .players .players_title h2
        max-width: 90%
    
    body .container .players .players_title p
        font-size: 1.1rem
    
    body .container .players .player_video .video
        width: 75%
    
    body .container .players .cards
        flex-direction: column
    
    body .container .players .cards .card
        max-width: 75%
    
    body .container .players .cards #card3 h2
        left: 33%

    /*APARTADO SOCIAL*/
    body .container .social
        margin-bottom: 0%
    
    body .container .social .youtube
        width: 95%
        margin-right: 3%
        min-height: unset

    body .container .social .youtube .youtube_vid
        height: 190px
    
    body .container .social .social_title
        width: 100%
    
    body .container .social .social_title p
        font-size: 1.1rem
    
    /*APARTADO COMPRA*/
    body .container .buynow .buy-button
        width: 100%
        margin-top: 5%
    
    body .container .buynow .buy-button .models
        font-size: 1rem
    
    body .container .buynow .buy-button .buy
        font-size: 1rem
    
    